<div class="container mt-5">
  <div class="row">
    <%= render 'devise/shared/show', user: @user, post: @post %>
    <div class="col-9">
      <h2>posts</h2>
      <table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th></th>
            <th>Title</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <% @posts.each do |post| %>
              <%= render 'posts/post', post: post %>
            <% end %>
          </tr>
        </tbody>
      </div>
    </table>
  </div>
</div>